<%= stylesheet_link_tag "landingpage" %>
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner text-shadow-border" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image:url(<%= image_url('landingpage/slide1.jpg') %>)">
          <div class="carousel-caption d-none d-md-block">
            <h1>Love Your Things?</h1>
            <p>Fix Your Things.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url(<%= image_url('landingpage/slide2.jpg') %>)">
          <div class="carousel-caption d-none d-md-block">
            <h1>Repair Your Junk</h1>
            <p>An Initiative Brought To You By SEI19 Proj3 Group 2.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url(<%= image_url('landingpage/slide3.jpg') %>)">
          <div class="carousel-caption d-none d-md-block">
            <h1>Save the Environment</h1>
            <p>and save money too!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h2 class="my-4">What to Fix?</h2>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Electricals</h4>
          <div class="card-body">
            <p class="card-text text-wrap">Is your toaster always tripping? Or is your kettle wire exposed? Or is your standing fan busted? At this station you can learn how to identify electrical faults, splice wires and re-solder broken connections.</p>
          </div>
          <div class="card-footer">
            <a href="/items" class="btn btn-primary">See Electricals</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Fabric</h4>
          <div class="card-body">
            <p class="card-text text-wrap">Have holes in your socks? Or have the buttons from your favourite shirt come loose? Perhaps the hem of your skirt has started to fray? Bring in articles of clothing or even fabric material to mend or re-purpose into something useful!</p>
          </div>
          <div class="card-footer">
            <a href="/items" class="btn btn-primary">See Fabric</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Mechanical</h4>
          <div class="card-body">
            <p class="card-text text-wrap">Do you have a stool that is wonky? Or perhaps a broken ceramic fridge magnet? Everyone has odds and ends around the house that could use a glue job or some simple fixes to make it more stable.</p>
          </div>
          <div class="card-footer">
            <a href="/items" class="btn btn-primary">See Mech</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Some Items to tinker with</h2>

<div class="scrollmenu">
    <div class="row flex-row flex-nowrap">
      <% @finalItems.each do |item| %>
          <div class="col-lg-3 col-sm-6 col-xs-6 portfolio-item">
      	 <div class="card h-100">
	      	 <div class="item-list-card"><a href="/items"><img class="card-img-top" src=<%= image_url (item.image)%> /></a></div>
        	 <div class="card-body">
        	 	<h4 class="card-title">
        	 		<a href="/items"><%= item.name.titlecase %></a>
      	 		</h4>
      	 		<p class="card-text text-wrap"><%= item.description %></p>
    	 		</div>
  	 		</div>
	 		</div>
		 <% end %>
    </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <h2>What others say about us</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">“It’s such a great learning experience for me and my kids. Instead of playing computer games on their days off from school and tuition, it would be better if they continue coming for this paper editor online! They love it and have started telling all their friends about it!”</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">Cindy (Visitor)
                    </footer>
                </blockquote>
      </div>
      <div class="col-lg-4">
        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">“This exchange of knowledge is certainly one of the reasons why I keep coming down.”</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">Coach Agatha
                    </footer>
                </blockquote>
      </div>
      <div class="col-lg-4">
        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">“How much work that goes into making something, the sweat and time, goes unappreciated. The exposure to repair in Repair Kopitiam helps people, especially children, understand the value of objects.”</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">Dr Kiruthika (Visitor)
                    </footer>
                </blockquote>
      </div>
    </div>

    <hr>
    <!-- /.row -->

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <h4>Come contribute with us today!</h4>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="/users/sign_up" style="font-size: 1.2rem;">Get Started</a>
      </div>
    </div>

  </div>
  <!-- /.container -->
