<% if @allitems.empty?  %>
	<p> test test</p>
<% elsif current_user.id == @allitems[0].user_id %>
	<h1>My Items that need repair</h1>
	<% @items.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
	<p>My items that are under repair</p>
	<% @repairingitems.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
	<p>My repaired items</p>
	<% @completeditems.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
	<p>Items i am repairing for others</p>
	<% @repairingothers.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
	<p>Items i have repaired for others</p>
	<% @completedothers.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
<% else%>
	<h1>ITEMS OWNED BY OTHERS</h1>
	<% @items.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
	<p>Other's items under repair</p>
	<% @repairingitems.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
	<p>Other's repaired items</p>
	<% @completeditems.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
	<p>Other's repairing another's items</p>
	<% @repairingothers.each do |item| %>
		<a class="link" href="/items/<%= item.id%>">
			<img src="<%= image_url (item.image) %>"/>
		</a>
	<% end %>
<% end %>