<% if current_user.id === @item.user_id %>
	<h1>ITEMS I OWN</h1>
	<% @items.each do |item| %>
		<a class="link" href="/items/<%= @item.id%>">
			<img src=<%= image_url (item.image) %>/>
		</a>
	<% end %>
	<p>ITEMS I AM REPAIRING</p>
	<% @repairingitems.each do |item| %>
		<a class="link" href="/items/<%= @item.id%>">
			<img src=<%= image_url (item.image) %>/>
		</a>
	<% end %>
	<p>ITEMS I HAVE REPAIRED</p>
	<% @completeditems.each do |item| %>
		<a class="link" href="/items/<%= @item.id%>">
			<img src=<%= image_url (item.image) %>/>
		</a>
	<% end %>
<% else %>
	<h1>ITEMS OWNED</h1>
	<% @items.each do |item| %>
		<a class="link" href="/items/<%= @item.id%>">
			<img src=<%= image_url (item.image) %>/>
		</a>
	<% end %>
	<p>ITEMS REPAIRING</p>
	<% @repairingitems.each do |item| %>
		<a class="link" href="/items/<%= @item.id%>">
			<img src=<%= image_url (item.image) %>/>
		</a>
	<% end %>
	<p>ITEMS REPAIRED</p>
	<% @completeditems.each do |item| %>
		<a class="link" href="/items/<%= @item.id%>">
			<img src=<%= image_url (item.image) %>/>
		</a>
	<% end %>
<% end %>