<div class="jumbotron" >
  <h1 class="display-3">WELCOME TO <%= current_user.username%>PAGE</h1>
  <p class="lead">Click "User" to view items related user and click "For Others" to view items that users had helped others with.</p>
  <hr class="my-4">
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#items">Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reviews">Reviews</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="items">
  	<p>Broken Items</p>
  		<% @brokenitems.each do |item| %>
	  		 <div class="col-lg-4 col-sm-6 portfolio-item">
	      	<div class="card h-100">
		      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src=<%= image_url (item.image)%> /></a></div>
	        	 <div class="card-body">
	        	 	<h4 class="card-title">
	        	 		<a href="#"><%= item.name %></a>
	      	 		</h4>
	      	 		<p class="card-text"><%= item.description %></p>
	    	 		 </div>
	  	 		</div>
		 		 </div>
			<% end %>
  	<p>Items under repair</p>
  		<% @underrepair.each do |item| %>
	  		 <div class="col-lg-4 col-sm-6 portfolio-item">
	      	<div class="card h-100">
		      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src=<%= image_url (item.image)%> /></a></div>
	        	 <div class="card-body">
	        	 	<h4 class="card-title">
	        	 		<a href="#"><%= item.name %></a>
	      	 		</h4>
	      	 		<p class="card-text"><%= item.description %></p>
	    	 		 </div>
	  	 		</div>
		 		 </div>
			<% end %>
  	<p>Items repaired</p>
  		<% @repaireditems.each do |item| %>
	  		 <div class="col-lg-4 col-sm-6 portfolio-item">
	      	<div class="card h-100">
		      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src=<%= image_url (item.image)%> /></a></div>
	        	 <div class="card-body">
	        	 	<h4 class="card-title">
	        	 		<a href="#"><%= item.name %></a>
	      	 		</h4>
	      	 		<p class="card-text"><%= item.description %></p>
	    	 		 </div>
	  	 		</div>
		 		 </div>
			<% end %>
  </div>
  <div class="tab-pane" id="projects">
  	<p>Items <%= current_user.username%> is fixing</p>
  		<% @fixingitems.each do |item| %>
	  		 <div class="col-lg-4 col-sm-6 portfolio-item">
	      	<div class="card h-100">
		      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src=<%= image_url (item.image)%> /></a></div>
	        	 <div class="card-body">
	        	 	<h4 class="card-title">
	        	 		<a href="#"><%= item.name %></a>
	      	 		</h4>
	      	 		<p class="card-text"><%= item.description %></p>
	    	 		 </div>
	  	 		</div>
		 		 </div>
			<% end %>
  	<p>Items <%= current_user.username%> has fixed</p>
  		<% @itemsfixed.each do |item| %>
	  		 <div class="col-lg-4 col-sm-6 portfolio-item">
	      	<div class="card h-100">
		      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src=<%= image_url (item.image)%> /></a></div>
	        	 <div class="card-body">
	        	 	<h4 class="card-title">
	        	 		<a href="#"><%= item.name %></a>
	      	 		</h4>
	      	 		<p class="card-text"><%= item.description %></p>
	    	 		 </div>
	  	 		</div>
		 		 </div>
			<% end %>
  </div>
  <div class="tab-pane" id="reviews">
  	<p>My Reviews</p>
  		<% @reviews.each do |review| %>
	  		<p><%= review.review %></p>
	  		<p><%= review.rating %></p>
			<% end %>
  </div>
</div>