<%= stylesheet_link_tag "usershow" %>
<div class="jumbotron jumbotron-fluid text-light" style="background-image: url(https://knowledge.axminster.co.uk/wp-content/uploads/2016/09/workshop_header_image-1-1200x525.jpg); background-size: 100% 100%;">
  <div class="container">
    <h1 class="display-4"><%=@user.username%>'s dashboard</h1>
  </div>
</div>
<!-- Begin Nav Bar -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#items">Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reviews">Reviews</a>
  </li>
</ul>
<!-- End Nav Bar -->

<!-- Begin Tab Content -->
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="items">
  	<div class="container-fluid mx-0">
  			<div class="list-group" id="mylist" role="tablist">
  				<p></p>
  				<a href="#broken" class="list-group-item list-group-item-action list-group-item-success text-center" data-toggle="collapse" role="tab">Broken Items</a>
  					<div class="collapse" id="broken" role="tabpanel">
			  			<div class="scrolling-wrapper">
					  		<% @brokenitems.each do |item| %>
						      	<div class="card h-75">
							      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top"  src="<%= image_url (item.image)%>" style="height: 100%; width: 100%;"/></a></div>
						        	 <div class="card-body">
						        	 	<h4 class="card-title">
						        	 		<a href="#"><%= item.name %></a>
						      	 		</h4>
						      	 		<p class="card-text"><%= item.description %></p>
						    	 		 </div>
						  	 		</div>
								<% end %>
							</div>
						</div>
  				<a href="#repair" class="list-group-item list-group-item-action list-group-item-warning text-center" data-toggle="collapse" role="tab">Items Under Repair</a>
  					<div class="collapse" id="repair" role="tabpanel">
  						<div class="scrolling-wrapper">
					  		<% @underrepair.each do |item| %>
						      	<div class="card h-75">
							      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src="<%= image_url (item.image)%>" style="height: 100%; width: 100%;" /></a></div>
						        	 <div class="card-body">
						        	 	<h4 class="card-title">
						        	 		<a href="#"><%= item.name %></a>
						      	 		</h4>
						      	 		<p class="card-text"><%= item.description %></p>
						    	 		 </div>
						  	 		</div>
								<% end %>
							</div>
						</div>
  				<a href="#done" class="list-group-item list-group-item-action list-group-item-info text-center" data-toggle="collapse" role="tab">Items repaired</a>
  					<div class="collapse" id="done" role="tabpanel">
  						<div class="scrolling-wrapper">
					  		<% @repaireditems.each do |item| %>
						      	<div class="card h-75">
							      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src="<%= image_url (item.image)%>" style="height: 100%; width: 100%;" /></a></div>
						        	 <div class="card-body">
						        	 	<h4 class="card-title">
						        	 		<a href="#"><%= item.name %></a>
						      	 		</h4>
						      	 		<p class="card-text"><%= item.description %></p>
						    	 		 </div>
						  	 		</div>
								<% end %>
							</div>
						</div>
  			</div>
		</div>
	</div>
  <div class="tab-pane fade" id="projects">
  	<div class="container-fluid mx-0">
  		<div class="list-group" id="mylist" role="tablist">
  			<p></p>
  			<a href="#fixing" class="list-group-item list-group-item-action list-group-item-success text-center" data-toggle="collapse" role="tab"><b><%= current_user.username%></b> is fixing</a>
  				<div class="collapse" id="fixing" role="tabpanel">
  					<div class="scrolling-wrapper">
  						<% @fixingitems.each do |item| %>
					      	<div class="card h-75">
						      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src="<%= image_url (item.image)%>" style="height: 100%; width: 100%;" /></a></div>
					        	 <div class="card-body">
					        	 	<h4 class="card-title">
					        	 		<a href="#"><%= item.name %></a>
					      	 		</h4>
					      	 		<p class="card-text"><%= item.description %></p>
					    	 		 </div>
					  	 		</div>
							<% end %>
  					</div>
  				</div>
  			<a href="#fixed" class="list-group-item list-group-item-action list-group-item-warning text-center" data-toggle="collapse" role="tab"><b><%= current_user.username%></b> has fixed</a>
  				<div class="collapse" id="fixed" role="tabpanel">
  					<div class="scrolling-wrapper">
  						<% @itemsfixed.each do |item| %>
					      	<div class="card h-75">
						      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src="<%= image_url (item.image)%>" style="height: 100%; width:100%;" /></a></div>
					        	 <div class="card-body">
					        	 	<h4 class="card-title">
					        	 		<a href="#"><%= item.name %></a>
					      	 		</h4>
					      	 		<p class="card-text"><%= item.description %></p>
					    	 		 </div>
					  	 		</div>
							<% end %>
  					</div>
  				</div>
  		</div>
  	</div>
  </div>
  <div class="tab-pane fade" id="reviews">
  	<% @reviews.each do |review| %>
	  	<div class="card">
			  <div class="card-header">
			    <p>Review</p>
			  </div>
			  <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      <p><%= review.review %></p>
			      <footer class="blockquote-footer">Ratings: <b><%= review.rating %></b></footer>
			    </blockquote>
			  </div>
			</div>
		<% end %>

  </div>
</div>