<%= stylesheet_link_tag "items_index" %>

  <!-- Page Content -->
  <div class="container">

    <!-- Latest Listing Section -->
    <h2>Latest Items Posted</h2>

    <div class="row">

		 <% @items.each do |item| %>
    	 <div class="col-lg-3 col-sm-6 portfolio-item">
      	 <div class="card h-100">
	      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src="<%= image_url (item.image)%>" /></a></div>
        	 <div class="card-body">
        	 	<h5 class="card-title">
        	 		<a href="/items/<%= item.id%>"><%= item.name.titlecase %></a>
        	 	</h5>
        	 		<p class="card-text-posted-by">Owner: <a href="/users/<%= item.user_id%>"><%= item.user.username %></a></p>
	      	 		<p class="card-text-timestamp"><%= time_ago_in_words(item.created_at) %> ago </p>
	      	 		<p class="card-text text-truncate"><%= item.description %></p>
    	 		</div>
  	 		</div>
	 		</div>
		 <% end %>
    </div>
    <%= will_paginate @items, params: @will_paginate_params, class: 'text-center' %>
    <!-- /.row End of Latest Listing -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Do you have a household item that needed repair? <br /> Add your items to our community of tinkerers to help you fix it. </p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="/items/new">Add Item</a>
      </div>
    </div>

  </div>
  <!-- /.container -->