<div class="row">
	<div class="col-md-4" style="margin: 20px auto;">
		<h2>Add New Item</h2>

		<!-- Start of Form -->
		<%= form_with scope: :items, url: items_path, local: true do |form| %>

		  <!-- name -->
		  <div class="form-group">
		    <%= form.label :name %><br>
		    <%= form.text_field :name, class: "form-control" %>
		  </div>

		  <!-- description -->
		  <div class="form-group">
		    <%= form.label :description %><br>
		    <%= form.text_area :description, class: "form-control" %>
		  </div>

		  <!-- image -->
		  <div class="form-group">
		    <%= form.label :image %><br>
		    <%= form.file_field :image, class: "form-control" %>

		  </div>

		  <input type="hidden" name="items[user_id]" value="<%= @current%>">
		  <input type="hidden" name="items[repairing]" value="false">
		  <input type="hidden" name="items[completed]" value="false">
		  <input type="hidden" name="items[repairer]" value="null">

		  <p>
		    <%= form.submit class: "btn btn-primary" %>
		  </p>
		<% end %>
	</div>
</div>