<%= form_with scope: :items, url: items_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.text_field :image %>
  </p>

  <input type="hidden" name="items[user_id]" value="<%= @current%>">
  <input type="hidden" name="items[repairing]" value="false">
  <input type="hidden" name="items[completed]" value="false">
  <input type="hidden" name="items[repairer]" value="null">

  <p>
    <%= form.submit %>
  </p>
<% end %>