
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <img src ="<%= image_path(@item.image)%>" />
</p>

<%= link_to 'Back', root_path %>

<a class="img-link" href="/users/<%= @item.user_id%>">
	<img src=<%= image_url (@item.image) %>/>
</a>
<p><%= @item.description %><p>

<%= form_with scope: :items, model: @item, local: true do |form| %>
	<!-- <div class="btn-group-toggle" data-toggle="buttons">
	  <label class="btn btn-secondary active"> -->
			<input type="hidden" name="item[repairing]" value="true">
			<button type="submit">I want to repair</button>

	<!-- 	</label>
	</div> -->
<% end %>
