

<a class="img-link" href="/users/<%= @item.user_id%>">
	<%= cl_image_tag(@item.image) %>
</a>
<p><%= @item.description %><p>
<% if @current == @item.user_id && @item.repairing == false %>
	<p>item still waiting for help</p>
	<a href="items/<%= @item.id%>/edit">
		<button>Click here to edit</button>
	</a>
<% elsif @current == @item.user_id && @item.repairing == true %>
	<a href="/items/<%= @item.id %>/edit">
		<button>Items under repair</button>
	</a>
<% elsif @current == @item.user_id && @item.completed == true %>
	<p>item was completed by other</p>
<% elsif @current == @item.repairer.to_i && @item.repairing == true %>
	<a href="/items/<%= @item.id %>/edit">
		<button>You are repairing</button>
	</a>
<% elsif @current == @item.repairer.to_i && @item.completed == true %>
	<p>You have completed the item</p>
<% elsif @current ==! @item.repairer.to_i && @item.repairing == true %>
	<p>item under repair by others</p>
<% elsif @current ==! @item.repairer.to_i && @item.completed == true %>
	<p>item completed by others</p>
<% else %>
	<%= form_with scope: :items, model: @item, local: true do |form| %>
				<input type="hidden" name="item[repairing]" value="true">
				<input type="hidden" name="item[repairer]" value="<%=@current%>">
				<input type="hidden" name="item[description]" value="<%=@item.description%>">
				<input type="hidden" name="item[completed]" value="false">
				<button type="submit">I WANT TO REPAIR</button>
	<% end %>
<% end %>