<h1>ADD REVIEW FOR <%= @item.name.upcase %></h1>
<%= form_with scope: :reviews, url: create_review_path, local: true do |form| %>
	<div class="form-group">
		    <%= form.label :review %><br>
		    <%= form.text_field :review, class: "form-control" %>
	</div>

	<div class="form-group">
		    <%= form.label :rating %><br>
		    <%= form.text_area :rating, class: "form-control" %>
	</div>
	<input type="hidden" name="reviews[item_id]" value="<%= @item.id%>">
	<input type="hidden" name="reviews[repairer_id]" value="<%= @item.repairer.to_i%>">
	<input type="hidden" name="reviews[user_id_id]" value="<%= @item.user_id%>">

	<p>
		<%= form.submit class: "btn btn-primary" %>
	</p>
<% end %>