<!DOCTYPE html>
<html>
  <head>
    <title>ProjectThree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  <!-- Bootstrap core CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.css" rel="stylesheet">

  <!-- Bootswatch Styles -->

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
 <!-- Bootswatch Styles -->

  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" rel="stylesheet">



</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Fix My Junk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_up">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Sign In</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="/users/sign_out">Sign Out</a> -->
        <%= link_to 'Sign Out', destroy_user_session_url, class: "nav-link", method: :delete %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/:id">WeiDe Account Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/items">WenLei Main Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/items/new">WenLei Add Page</a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <%= image_tag('profile.jpg', :size => '40x40', :class => 'rounded') %>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Dashboard</button>
    <button class="dropdown-item" type="button">Edit Profile</button>
    <button class="dropdown-item" type="button"><%= link_to 'Sign Out', destroy_user_session_url, method: :delete %></button>
  </div>
</div>
    </div>

  </div>
</nav>
    <%= yield %>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; SEI19 P3G2 GA Singapore 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-modern-business/vendor/jquery/jquery.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-modern-business/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>